@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //put razor code here
    ViewBag.Title = "Sage's Web Site :)";
    ViewBag.h1 = "Sage Hassell";
    ViewBag.h2 = " Welcome to the best website :)";
}


<body style="background-size: 100%; background-image: url('https://images.pexels.com/photos/60561/winter-snow-nature-60561.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') ">
    
    <center>
        
        <img width="35%" src="~/img/TEAMS_PIC.png" />
        <p>More than anythiny I want to learn how I learn. I know it's kind of cheesey, but it is true! In the workforce, I want to be able to pick up new languages quickly. If I know how I learn, this will greatly expidite the process. :)</p>
        <b><p>Top Three Jobs</p></b>

        <li>Adobe UX Desiger</li>
        <li>Project Manager</li>
        <li>Annnd a mom :)</li>

        
       
    </center>

</body>
</html>
